.row-header {
  margin: 0 auto;
  padding: 0;
}
.row-content {
  margin: 0 auto;
  padding: 50px 0px 50px 0px;
  min-height: 400px;
  border-bottom: 1px ridge;
}
.footer {
  margin: 0px auto;
  padding: 20px 0px 20px 0px;
  background-color: #ffb3cc;
}
.jumbotron {
  background-color: #ff6699;
  padding: 70px 30px 70px 30px;
  margin: 0px auto;
  color: floralwhite;
}
address {
  font-size: 80%;
  margin: 0px;
  color: #0f0f0f;
}
.navbar-dark {
  background-color: #e463be;
}
body {
  padding: 20px 0 0 0;
  z-index: 0;
}
.fa {
  margin-right: 5px;
}
.fa-info {
  margin-right: 10px;
  padding-left: 5px;
}
.tab-content {
  border-bottom: 1px solid #ddd;
  border-left: 1px solid #ddd;
  border-right: 1px solid #ddd;
  padding: 10px;
}
.carousel {
  background-color: #e463be;
}
.carousel-item{
  height: 300px;
}
.carousel-item img {
  position: absolute;
  top: 0;
  left: 0;
  min-height: 300px;
}
#carouselButton{
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 1;
}
#carouselButton .fa{
  margin-right: 0;
}